a.wav
aaaaa.ipynb
cremad.zip
feature.PNG
ravdess-emotional-speech-audio.zip
surrey-audiovisual-expressed-emotion-savee.zip
toronto-emotional-speech-set-tess.zip
Untitled.ipynb
Untitled1.ipynb
cremad
ravdess-emotional-speech-audio
surrey-audiovisual-expressed-emotion-savee
TESS Toronto emotional speech set data
!.gitignore
!storage